.app__footer {
  background-color: $white;
  border-top: 0.1rem solid $app-color;
  position: relative;

  &__github {
    display: flex;
    justify-content: space-between;
    padding-bottom: $grid-gutter-width / 2;
    padding-top: $grid-gutter-width / 2;
  }

  &__social {
    display: flex;
    justify-content: center;
    padding-top: $grid-gutter-width / 3;

    @include is {
      left: 50%;
      line-height: 1;
      padding: 0;
      position: absolute;
      top: 50%;
      transform: translate(-50%, -50%);
    }

    a {
      font-size: 3rem;

      + a {
        margin-left: $grid-gutter-width;
      }
    }
  }
}
