.app__form {
  &__actions {
    border-top: 0.1rem solid $app-color;
    margin-top: $grid-gutter-width;
    padding-top: $grid-gutter-width / 2;

    button:not(:first-child) {
      display: inline-block;
      margin-left: $grid-gutter-width / 3;
    }
  }
}
