.app__header {
  background-color: $brand-primary;
  color: #fff;
  height: $header-height;
  left: 0;
  position: fixed;
  right: 0;
  top: 0;
  z-index: 1020;

  > .app__container {
    align-items: center;
    display: flex;
    flex-wrap: nowrap;
    height: 100%;
    justify-content: space-between;
    padding-bottom: $grid-gutter-width / 2;
    padding-top: $grid-gutter-width / 2;
  }

  &__logo {
    line-height: 1;
    width: 18rem;

    @include md {
      width: 20rem;
    }

    .app__logo svg {
      width: 18rem;

      @include md {
        width: 20rem;
      }

      path {
        fill: #fff;
      }
    }
  }

  &__search {
    opacity: 0;
    padding: 0 ($grid-gutter-width / 2);
    position: relative;
    transition: opacity 0.3s;

    @include md {
      margin-left: $grid-gutter-width;
    }

    input {
      appearance: none;
      border: 0;
      border-radius: 0.5rem;
      box-shadow: none;
      outline: none;
      padding: 0.5rem $grid-gutter-width 0.5rem 2rem;
      width: 100%;
    }

    span {
      color: $brand-primary;
      position: absolute;
      right: ($grid-gutter-width / 2) + ($grid-gutter-width / 3);
      top: 50%;
      transform: translateY(-50%);
    }

    a {
      color: $brand-primary;
    }
  }

  &__social {
    display: flex;

    @include md {
      margin-left: auto;
    }

    a {
      color: #fff;
      display: block;
      font-size: 2.4rem;
      line-height: 1;

      @include md {
        font-size: 3rem;
      }

      + a {
        margin-left: $grid-gutter-width / 3;
      }
    }
  }

  &--scrolled {
    .app__header__logo {
      @include is-only {
        width: 4rem;

        svg {
          width: 4rem;
        }
      }
    }

    .app__header__search {
      opacity: 1;
    }
  }
}
