.u-switch {
  cursor: pointer;
  height: 1.4rem;
  position: relative;
  user-select: none;
  vertical-align: middle;
  width: 2.4rem;

  input {
    bottom: 0;
    left: 0;
    opacity: 0;
    position: absolute;
    right: 0;
    top: 0;
  }

  .track {
    background-color: #ccc;
    border-radius: 0.7rem;
    bottom: 0;
    left: 0;
    position: absolute;
    right: 0;
    top: 0;
  }

  .button {
    background-color: #fff;
    border-radius: 0.9rem;
    bottom: 0.2rem;
    left: 0.3rem;
    position: absolute;
    right: 1.1rem;
    top: 0.2rem;
    transition: all 100ms ease;
  }

  &.is-checked {
    .track {
      background-color: lighten($brand-primary, 10%);
    }

    .button {
      left: 1.1rem;
      right: 0.2rem;
    }
  }
}
