.app__logo {
  display: inline-flex;
  justify-content: center;

  .isvg {
    display: inline-block;
    line-height: 0;
    text-align: center;

    svg {
      height: auto;
      max-height: 100%;
      max-width: 90%;
    }
  }
}
