.app__splash {
  align-items: center;
  background-color: $brand-primary;
  display: flex;
  height: 100vh;
  justify-content: center;
  left: 0;
  opacity: 1;
  position: fixed;
  top: 0;
  width: 100vw;
  z-index: 1050;

  svg {
    path {
      fill: #fff;
    }
  }
}

.splash__animation-enter {
  opacity: 1;

  &.splash__animation-enter-active {
    opacity: 1;
  }
}

.splash__animation-leave {
  opacity: 1;

  .app__logo {
    transform: translateY(0);
  }

  &.splash__animation-leave-active {
    opacity: 0;
    transition: opacity 1.5s ease-in;

    .app__logo {
      svg {
        opacity: 0;
        transform: scale(20);
        transition: all 1s ease-in;
      }
    }
  }
}
