.app__toolbar {
  &__menu {
    align-items: center;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    list-style-type: none;
    margin-top: $grid-gutter-width / 2;
    padding: 0;

    @include md {
      flex-direction: row;
      justify-content: space-between;
    }

    > li {
      @include md {
        min-width: 23rem;
      }

      &:first-child {
        padding-right: $grid-gutter-width / 2;
        width: 60%;

        @include md {
          width: auto;
        }
      }

      &:nth-child(2) {
        text-align: center;
      }

      &:last-child {
        @include md {
          text-align: right;
        }
      }
    }
  }

  &__columns {
    display: none;

    @include md {
      display: block;
    }
  }

  &__switch {
    display: inline-flex;

    a {
      @include center-child();
      background-color: #fff;
      border-radius: 50%;
      font-size: $font-size-sm;
      height: 3.4rem;
      padding: 0.8rem 1rem !important;
      text-decoration: none;
      width: 3.4rem;

      &.disabled {
        color: #ccc;
      }

      &:last-child {
        margin-left: 1rem;
      }
    }

    [class^=i-] {
      margin-top: 0.1rem;
    }
  }

  &__views {
    @include ix {
      margin: 0 auto;
      max-width: 60rem;
      text-align: center;
    }

    a {
      color: #fff;
      display: inline-block;
      font-weight: 700;
      margin-left: 0.3rem;

      &.active {
        pointer-events: none;
        text-decoration: line-through;
      }
    }

    span {
      display: block;
      text-align: center;

      @include ix {
        display: inline-block;
        text-align: left;
      }

      &:last-child {
        @include ix {
          margin-left: $grid-gutter-width;
        }
      }
    }
  }

  &__search {
    margin: 0 auto ($grid-gutter-width / 6);
    position: relative;

    @include md {
      max-width: 60rem;
    }

    input {
      appearance: none;
      border: 0;
      border-radius: 0.5rem;
      box-shadow: none;
      outline: none;
      padding: 1rem 3rem 1rem 1.5rem;
      width: 100%;
    }

    span {
      color: $brand-primary;
      position: absolute;
      right: ($grid-gutter-width / 3);
      top: 50%;
      transform: translateY(-50%);
    }

    a {
      color: $brand-primary;
    }
  }

  &__cloud {
    background-color: rgba($body-bg, 0.8);
    bottom: 0;
    cursor: pointer;
    left: 0;
    opacity: 0;
    pointer-events: all;
    position: fixed;
    right: 0;
    top: $header-height;
    transition: opacity 0.5s, visibility 0.2s;
    visibility: hidden;
    z-index: 20;

    &.visible {
      opacity: 1;
      overflow: scroll;
      visibility: visible;

      a {
        opacity: 1;
        transform: translateY(0) scaleY(1);
      }
    }

    &__wrapper {
      align-items: center;
      display: inline-flex;
      flex-flow: wrap;
      justify-content: space-around;
      margin: 1.5rem;
      pointer-events: none;

      @include xs-only {
        justify-content: flex-start;
      }

      a {
        background-color: lighten($tag-color, 24);
        border-radius: 0.5rem;
        color: #fff;
        display: inline-block;
        font-size: 1.2rem;
        margin: 0.5rem;
        opacity: 0.1;
        padding: 0.5rem 1rem;
        pointer-events: all;
        text-decoration: none;
        transform: translateY(-20%) scaleY(0.1);
        transform-origin: top;
        transition: transform 0.3s ease-in-out, opacity 0.2s 0.1s;

        @include sm-only {
          margin: 0.3rem;
        }

        &.tag-size {
          &-1 {
            background-color: adjust-hue(lighten($tag-color, 16), $tag-step);
            font-size: 1.4rem;
          }

          &-2 {
            background-color: adjust-hue(lighten($tag-color, 8), $tag-step * 2);
            font-size: 1.6rem;
          }

          &-3 {
            background-color: adjust-hue($tag-color, $tag-step * 3);
            font-size: 2rem;
          }

          &-4 {
            background-color: adjust-hue($tag-color, $tag-step * 4);
            font-size: 2.2rem;
          }

          &-5 {
            background-color: adjust-hue($tag-color, $tag-step * 5);
            font-size: 2.4rem;
          }
        }
      }
    }
  }
}
