.app {
  min-height: 100vh;

  &__main {
    min-height: 100vh;
    padding-bottom: $grid-gutter-width;
    padding-top: $header-height;
  }

  &__container {
    @include app-container();

    margin: 0 auto;
  }

  &__logout {
    span {
      margin-right: $grid-gutter-width / 6;
    }
  }
}
