.btn-black {
  @include button-variant($black, $black);
  box-shadow: none !important;
}

.btn-white {
  @include button-variant($white, $white);
  box-shadow: none !important;
  color: $app-color;
}

.btn-icon {
  align-items: center;
  display: inline-flex;
  line-height: 1;

  span {
    font-weight: 700;
    margin-left: $grid-gutter-width / 6;
    text-transform: uppercase;
  }
}
