.app__items {
  position: relative;
  z-index: nth($zIndex, 2);

  &__header {
    @include app-container();
    background-color: $black;
    color: $white;
    padding-bottom: ($grid-gutter-width / 1.5);
    padding-top: 0;

    h1 {
      margin-bottom: $grid-gutter-width;
      text-align: center;

      @include im-only {
        line-height: 1.4;
      }

      @include md {
        margin-bottom: $grid-gutter-width;
      }

      span {
        color: $brand-secondary;
        margin-right: $grid-gutter-width / 6;
      }
    }

    .app__logo {
      display: flex;
      margin-bottom: $grid-gutter-width / 2;

      @include md {
        margin-bottom: $grid-gutter-width;
      }

      svg {
        margin: 0 auto;

        path {
          fill: $white;
        }
      }
    }
  }

  &__heading {
    @include app-container();
    padding-top: $grid-gutter-width;

    &:empty {
      display: none;
    }

    h2 {
      align-items: center;
      display: flex;
      font-size: $font-size-h4;
      justify-content: center;
      line-height: 1;
      margin-bottom: 0;

      > * {
        line-height: 1.1;
      }

      a {
        color: $body-color;
        font-size: $font-size-base;
        margin-left: $grid-gutter-width / 6;
        margin-top: 0.2rem;
      }
    }
  }
}
