$media-path: '../../assets/media/';
$font-path: '../../assets/fonts/';

$header-height: 7rem;
$footer-height: 5.6rem;

$brand-secondary: #fbfb00;

$tag-color: adjust-hue($brand-primary, 10);
$tag-hue: hue($tag-color);
$tag-saturation: saturation($tag-color);
$tag-lightness: lightness($tag-color);
$tag-step: -4;

$main-padding: $header-height + $footer-height + ($grid-gutter-width * 2);
